.card{
  max-width:max-content;
  max-height: 700px;
  border: none;
  
  font-family: var(--font);
  font-size: 18px;
}
.card-body {
  max-width: max-content;
  min-height: 280px;
  height: auto;
}
small {
  font-size: 11px;
}
p {
  font-size: 12px;
}
img {
  height: auto;
  min-height: 320px;
  width: auto;
}

