<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        1. Content Ownership: All content on the blog is owned by us and
        protected by intellectual property laws.
        <br />You may not reproduce or distribute the content without our
        permission. <br />
        2. User-Generated Content: By submitting content to the blog, you grant
        us the right to use and display it. <br />
        You must have the necessary rights for the content you submit and ensure
        it complies with applicable laws. <br />
        3. Privacy: We handle your personal information according to our Privacy
        Policy.
        <br />
        4. Third-Party Links: We are not responsible for third-party websites or
        services linked on the blog.
        <br />
        5. Disclaimer: The blog is provided as is, and we do not guarantee its
        accuracy or uninterrupted availability.
        <br />6. Limitation of Liability: We are not liable for any damages
        arising from your use of the blog.
        <br />
        7. Changes to Terms: We may update these Terms without prior notice.
        <br />
        Your continued use of the blog constitutes acceptance of the changes.
        <br />
        8. Governing Law: These Terms are governed by the laws of
        [Jurisdiction].
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
