<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Me</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        My name is Filip and I am 24 years old. With my engineering degree and experience as a junior full-stack developer,
        <br>
        I am constantly seeking opportunities to enhance my skills and knowledge. In addition to my professional pursuits,
        <br>
        I indulge in various hobbies, such as collecting model cars, swimming, and reading books.
        <br>
        I find great joy in exploring different programming languages and frameworks, 
        <br>
        staying up to date with the advancements in technology, and constantly broadening my horizons.
        <br>
        If you have any inquiries or wish to connect, please don't hesitate to reach out to me through the <a href="/contact">contact</a> section
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>
