.featured-section {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 130px;

  background-color: var(--primary-color);
  font-family: var(--font);
}
.post-card {
  height: auto;
  min-height: 300px;
  width: auto;
}
